<form [formGroup]="gameLevelFormGroup" (submit)="newGameSubmitted(gameLevelFormGroup)" class="side-bar new-game-form">

    <button class="toggle-btn" (click)="toggleRhambous(gameLevelFormGroup)">
        <svg class="toggle-btn-icon" width="60" height="60"
            [ngClass]="defaultValues.isRhambous ? 'square' : 'rhambous'">
            <rect x="10" y="10" rx="5" ry="5" width="40" height="40" />
        </svg>
    </button>

    <p *ngIf="tooManyShips" class="new-game-form-error" role="alert">
        Too many ships for this board size. Clicking "new game" will generate the default board size.
    </p>

    <ng-container *ngFor="let input of formInputs">
        <label [for]="input.formControlName" class="new-game-form-label"> {{input.label}} </label>
        <input class="new-game-form-input" [ngClass]="{'error' : tooManyShips && input.isValidator}"
            (change)="onInputValueChange()" type="number"
            [placeholder]="'default: ' + defaultValues[input.formControlName]" [formControlName]="input.formControlName"
            appOnlyDigits />

    </ng-container>

    <button type="submit" class="new-game-form-btn">
        New Game
    </button>

</form>